rect[Attributes Style] {
    fill: rgb(255,255,255);
}

.section.sidebar{
    overflow-y: auto;
    overflow-x: hidden;
}

.section.sidebar .form-group{
    margin-bottom: 14px;
}

.section.sidebar .form-group .control-label{
    margin-bottom: 2px;
}

*{
    font-family: "Lucida Sans Unicode";
}